@charset "utf-8";
* {
	font-family: 微软雅黑;
	font-size: 14px;
	margin: 0;
	padding: 0
}

html {
	height: 100%;
	width: 100%
}

body {
	background-image: url('../../images/bg.jpg');
	background-position: center center;
	background-size: 100% 100%;
	height: 100%;
	width: 100%
}


ul,ol,li,dl,dt,dd { list-style-type: none;}

/* 清除浮动 */
.clearfix:before,.clearfix:after {display: table;content:'';}
.clearfix:after { clear: both; }
.clearfix { *zoom:1;}
q:before,q:after{content: ""}
.clear { clear:both;}


.inner{top:550px;height:50px;position: absolute;max-height: 50px;display: block;}	
.inner ul{margin: auto;}
.inner ul li{float:left;width:40%;min-width:120px;height:45px;line-height:45px;}
.inner ul li a{margin-left:61px;color:#999;position: relative;font-size:16px;}