html,body{padding:0;margin:0;text-align: center;width: 100%;height: 100%;background: #000;font-family: "microsoft yahei", Tahoma, Verdana, Arial, Helvetica, sans-serif; }

.wrapper{background-color: rgba(0,0,0,.8);width: 100%; height:100%;position: absolute;z-index:2;}
.logo {width: 320px;height: 320px; margin:0 auto;margin-top: 20px;background: url(/images/logo.png) no-repeat center center;background-size: 90% auto;text-indent: -9999px;overflow: hidden;}
.app_logo,.wrapper p{ display:none;}

.button {width:100%; text-align:center;}
.button a { display:none;width: 200px;height: 50px; line-height:50px;background: #1c89ce;border-radius: 10px;text-decoration: none;color:#fff; position:relative; margin:10px; text-indent:30px; cursor:pointer;}
.button #android:before{background:url(/down/images/android.png) no-repeat center center;background-size: 100% 100%;}
.button #ios:before{background:url(/down/images/ios.png) no-repeat center center;background-size: 100% 100%;}
.button a:before{display: inline-block;content:'';width: 28px;height: 28px;position: absolute;top: 11px;left: 30px;}

#codo{ display:none; width:100%;color:#fff; margin:20px 0;}
#codo:before{display: block;content:''; width:140px; height:140px;margin:0 auto;background: url(/down/images/qrcode.png) no-repeat;background-size: 140px auto; margin-bottom:10px;}
#city_video{ position:absolute; z-index:1; width:100%; height:100%;background:url(/down/images/city_video.jpg) no-repeat center center; overflow:hidden;}
#city_video video{ width:100%;min-width:1120px;}

.x-landing-wrapper { display:none;margin: 0;padding: 0;position: fixed;width: 100%;height: 100%;top: 0;left: 0;font-size: 16px;box-sizing: content-box;z-index: 5000;}
.x-landing-wrapper .x-landing-overlay {position: absolute;width: 100%;height: 100%;background-color: #000;background-color: rgba(0,0,0,.9);}
.x-landing-wrapper .wx-tips {position: absolute;top: 0;left: 0;width: 100%;color: #fff;line-height: 1.5;}
.x-landing-wrapper .wx-tips h3 {font-size: 18px;font-weight: 700;padding: 80px 20px 0;margin: 0 0 12px;}
.x-landing-wrapper .wx-tips p {padding: 0 20px;}
.x-landing-wrapper .wx-tips .close {margin: 30px auto 0;border-radius: 22px;border: 1px solid;height:44px;padding:0 20px;line-height:44px;width: 70px;text-align: center;}
.x-landing-wrapper .wx-tips:after {content: "";background:url(/down/images/tips.png) no-repeat center center;background-size: 100% 100%;width:40px;height:40px;position: absolute;top: 16px;right: 16px;}