<ion-view class="m-index" view-title="">
	<ion-nav-buttons side="left">
		<a class="logo" href="#/home"><img ng-src="{{appConfig.logoUrl}}"></a>
	</ion-nav-buttons>


	<ion-content >
		<style>

			.activity_details_table table{
				width: 100%;
				border-collapse: collapse;
				border:2px solid #AA884E;
				margin: 10px 0;
			}
			.activity_details_1_table td{
				border:2px solid #AA884E;
				text-align: center;
				height:20px;
				line-height: 20px;
				padding:5px;
			}
		</style>
		<!-- 优惠活动 BEGIN -->
		<div class="activity">
			<div class="head">
				<div class="title"><img src="/images/icon-activity.png">優惠活動</div>
				<a href="#/activitylist">更多&gt;&gt;</a>
			</div>

		<div class="activity-list">

			<p>週週回饋</p><img src="/images/slide/zc/201807041909289714.png">
			<div class="activity_details_3 activity_details" style="display: block;">
				<p class="activity_title"><span>活動詳情</span></p>

				<div class="activity_details_1_table activity_details_table">
					<div class="activity_details_1_table activity_details_table">
                    <table width="373">
                        <colgroup>
                            <col/>
                            <col/>
                            <col/>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td style="height:19.52pt;width:87.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;儲值金額
                                </td>
                                <td style="height:19.52pt;width:95.28pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;彩金贈送
                                </td>
                                <td style="height:19.52pt;width:96.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;流水要求
                                </td>
                            </tr>
                            <tr>
                                <td style="height:19.52pt;width:87.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;200
                                </td>
                                <td style="height:19.52pt;width:95.28pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 18
                                </td>
                                <td style="height:19.52pt;width:96.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; 1倍流水
                                </td>
                            </tr>
                            <tr>
                                <td style="height:19.52pt;width:87.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;500
                                </td>
                                <td style="height:19.52pt;width:95.28pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 38
                                </td>
                                <td style="height:19.52pt;width:96.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; 1倍流水
                                </td>
                            </tr>
                            <tr>
                                <td style="height:19.52pt;width:87.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1000
                                </td>
                                <td style="height:19.52pt;width:95.28pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 68
                                </td>
                                <td style="height:19.52pt;width:96.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; 1倍流水
                                </td>
                            </tr>
                            <tr>
                                <td style="height:19.52pt;width:87.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5000
                                </td>
                                <td style="height:19.52pt;width:95.28pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;158
                                </td>
                                <td style="height:19.52pt;width:96.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; 1倍流水
                                </td>
                            </tr>
                            <tr>
                                <td style="height:19.52pt;width:87.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;10000&nbsp;
                                </td>
                                <td style="height:19.52pt;width:95.28pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;388
                                </td>
                                <td style="height:19.52pt;width:96.78pt;">
                                    &nbsp; &nbsp; &nbsp; &nbsp; 1倍流水
                                </td>
                            </tr>
                        </tbody>
                    </table><br/><br/>
                </div>
                <p>
                    <span class="text_yellow"></span>
                </p>
                <p>
                    <span style="font-family:宋体;"><span style="font-family:宋体;font-size:12px;">領取詳情：</span></span>
                </p>
                <p>
                    <span style="font-size:12px;"><span style="font-family:宋体;"><span style="font-family:宋体;">本活動僅限於新註冊用戶</span></span><span style="font-family:宋体;"><span style="font-family:宋体;">首次儲值（不限儲值方式）</span></span><span style="font-family:宋体;"><span style="font-family:宋体;">，儲值後請聯絡網站客服領取彩金！</span></span></span>
                </p>
                <p>
                    <span style="font-family:宋体;"><span style="font-family:宋体;font-size:12px;">活動細則：</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">1<span style="font-family:宋体;">、彩金只需1倍流水即可出款。</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">2<span style="font-family:宋体;">、該活動於美東時間</span><span style="font-family:Calibri;">5</span><span style="font-family:宋体;">月</span><span style="font-family:Calibri;">25</span><span style="font-family:宋体;">日</span><span style="font-family:Calibri;">0</span><span style="font-family:宋体;">時正式開始，所有新註冊的會員（包含註冊後未有儲值記錄的會員）均可參與。</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">3<span style="font-family:宋体;">、參與此優惠，即表示您同意《一般優惠規則與條款》。</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;"><span style="font-family:宋体;font-size:12px;">優惠規則與條款：</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">1.<span style="font-family:宋体;">所有優惠以人民幣</span><span style="font-family:Calibri;">(CNY)</span><span style="font-family:宋体;">為結算金額，以美東時間</span><span style="font-family:Calibri;">(EDT)</span><span style="font-family:宋体;">為計時區間。</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">2.<span style="font-family:宋体;">每位玩家﹑每戶﹑每一住址 、每一電子郵件地址﹑每一電話號碼﹑相同付款方式</span><span style="font-family:Calibri;">(</span><span style="font-family:宋体;">相同借记卡</span><span style="font-family:Calibri;">/</span><span style="font-family:宋体;">信用卡</span><span style="font-family:Calibri;">/</span><span style="font-family:宋体;">銀行帳戶</span><span style="font-family:Calibri;">) </span><span style="font-family:宋体;">及</span><span style="font-family:Calibri;">IP</span><span style="font-family:宋体;">地址只能享有一次優惠；若會員有重複申請帳號行為，本公司保留取消或收回會員優惠彩金的權利。</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">3.<span style="font-family:宋体;">網站的所有優惠特為玩家而設，如發現任何團體或個人，以不誠實方式套取紅利或任何威脅、濫用公司優惠等行為，本公司保留凍結、取消該團體或個人帳戶及帳戶結餘的權利。</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">4.<span style="font-family:宋体;">若會員對活動有爭議時，為確保雙方利益，杜絕身分盜用行為，網站有權要求會員提供我們充足有效的文件，以確認是否享有此優惠的資格。</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">5.<span style="font-family:宋体;">當參與優惠會員未能完全遵守、或違反、或濫用任何有關公司優惠或推廣的條款，又或我們有任何證據有任何團隊或個人投下一連串的關聯賭注，籍以造成無論賽果怎樣都可以確保可以從該存款紅利或其他推廣活動提供的優惠獲利，網站保留權利向此團隊或個人停止、取消優惠或索回已支付的全部優惠紅利。此外，本公司亦保留權利向這些客戶扣取相當於優惠紅利價值的行政費用，以補償我們的行政成本。</span></span>
                </p>
                <p>
                    <span style="font-family:宋体;font-size:12px;">6.<span style="font-family:宋体;">網站保留對活動的最終解釋權；以及在無通知的情況下修改、終止活動的權利；適用於所有優惠。</span></span>
                </p>
                <p></p>
            </div>
            </div>

		</div>
		</div>
		<!-- 优惠活动 END -->
		
		<div class="copyright">
			<!-- <a class="computer" target="_blank" ng-href="{{appConfig.webUrl}}">电脑版</a> -->
			<p>{{appConfig.copyright}}</p>
		</div>
  	</ion-content>
  	
	<ion-footer-bar class="max">
		<ion-tabs class="tabs-icon-top tabs-light"> 
			<ion-tab title="首頁" icon-off="icon-home" icon-on="icon-home" href="#/home"></ion-tab>
			<ion-tab title="遊戲大廳" icon-off="icon-youxi" icon-on="icon-youxi" href="#/lottery/list"></ion-tab>
			<ion-tab title="資金管理" icon-off="icon-29" icon-on="icon-29" href="#/bank/deposit"></ion-tab>
			<!-- <ion-tab title="优惠活动" icon-off="icon-29" icon-on="icon-29" href="#/bank/deposit"></ion-tab> -->
			<ion-tab title="我的" icon-off="icon-yonghu" icon-on="icon-yonghu" href="#/ucenter/index"></ion-tab>
		</ion-tabs>
	</ion-footer-bar>
</ion-view>
