<ion-view class="m-index" view-title="">
	<ion-nav-buttons side="left">
		<a class="logo" href="#/home"><img ng-src="{{appConfig.logoUrl}}"></a>
	</ion-nav-buttons>


	<ion-content >

		<!-- 优惠活动 BEGIN -->
		<div class="activity">
			<div class="head">
				<div class="title"><img src="/images/icon-activity.png">优惠活动</div>
			</div>

			<div class="activity-list">
				<a href="#/activity1"><p>周周回馈</p><img src="/images/slide/zc/201807041909289714.png"></a>
				<a href="#/activity2"><p>全场回馈</p><img src="/images/slide/zc/201807032154105347.png"></a>
				<a href="#/activity3"><p>每周回馈</p><img src="/images/slide/zc/201807032155567876.png"></a>
				<a href="#/activity4"><p>推荐有奖</p><img src="/images/slide/zc/201807032204306540.png"></a>
				<a href="#/activity5"><p>代理加盟</p><img src="/images/slide/zc/201807032205111343.png"></a>
			</div>
			<!--
				<div class="activity-list">
				<a href="#/activity:1"><p>周周回馈</p><img src="/images/slide/zc/banner_index04.png"></a>
				<a href="#/activity2"><p>全场回馈</p><img src="/images/slide/zc/banner_index05.png"></a>
				<a href="#/activity3"><p>全场回馈</p><img src="/images/slide/zc/banner_index06.png"></a>
				<a href="#/activity4"><p>分享有奖</p><img src="/images/slide/zc/banner_index02.png"></a>
				<a href="#/activity5"><p>推荐有奖</p><img src="/images/slide/zc/banner_index03.png"></a>
				<a href="#/activity6"><p>代理加盟</p><img src="/images/slide/zc/banner_index07.png"></a>
			</div>
			-->
		</div>
		<!-- 优惠活动 END -->

		<div class="copyright">
			<!-- <a class="computer" target="_blank" ng-href="{{appConfig.webUrl}}">电脑版</a> -->
			<p>{{appConfig.copyright}}</p>
		</div>
	</ion-content>


</ion-view>