<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">7色波</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="709601"><span class="bet-content">紅波</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="709602"><span class="bet-content">藍波</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="709603"><span class="bet-content">綠波</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="709604"><span class="bet-content">和局</span> <span class="bet-item">1.982</span></div>
	</div>
	
	
	<div class="row text-center"><div class="col title-no">紅球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708704"><span class="bet-content">紅單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708705"><span class="bet-content">紅雙</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708706"><span class="bet-content">紅大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708707"><span class="bet-content">紅小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708716"><span class="bet-content">紅大單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708717"><span class="bet-content">紅大雙</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708718"><span class="bet-content">紅小單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708719"><span class="bet-content">紅小雙</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">藍球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708708"><span class="bet-content">藍單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708709"><span class="bet-content">藍雙</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708710"><span class="bet-content">藍大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708711"><span class="bet-content">藍小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708720"><span class="bet-content">藍大單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708721"><span class="bet-content">藍大雙</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708722"><span class="bet-content">藍小單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708723"><span class="bet-content">藍小雙</span> <span class="bet-item">1.982</span></div>
	</div>
	
	
	<div class="row text-center"><div class="col title-no">綠球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708712"><span class="bet-content">綠單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708713"><span class="bet-content">綠雙</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708714"><span class="bet-content">綠大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708715"><span class="bet-content">綠小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="708724"><span class="bet-content">綠大單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708725"><span class="bet-content">綠大雙</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="708726"><span class="bet-content">綠小單</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="708727"><span class="bet-content">綠小雙</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>