<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">冠、亞軍 組合</div></div>
			    				
	<div class="row">
		<div class="col col-50 bet ok" data-id="1501001"><span class="bet-content">冠亞大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="1501002"><span class="bet-content">冠亞小</span> <span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1501003"><span class="bet-content">冠亞單</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="1501004"><span class="bet-content">冠亞雙</span> <span class="bet-item">2.2</span></div>
	</div>

	<div class="row">
		<div class="col col-33 bet ok" data-id="1501005"><div class="bet-content">3</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="1501006"><div class="bet-content">4</div><div class="bet-item">42.3</div></div>
		<div class="col col-33 bet ok" data-id="1501007"><div class="bet-content">5</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1501008"><div class="bet-content">6</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="1501009"><div class="bet-content">7</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="1501010"><div class="bet-content">8</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1501011"><div class="bet-content">9</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="1501012"><div class="bet-content">10</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="1501013"><div class="bet-content">11</div><div class="bet-item">8.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1501014"><div class="bet-content">12</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="1501015"><div class="bet-content">13</div><div class="bet-item">10.3</div></div>
		<div class="col col-33 bet ok" data-id="1501016"><div class="bet-content">14</div><div class="bet-item">14.3</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1501017"><div class="bet-content">15</div><div class="bet-item">14.3</div></div>
		<div class="col col-33 bet ok" data-id="1501018"><div class="bet-content">16</div><div class="bet-item">21.3</div></div>
		<div class="col col-33 bet ok" data-id="1501019"><div class="bet-content">17</div><div class="bet-item">21.3</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1501020"><span class="bet-content">18</span> <span class="bet-item">42.3</span></div>
		<div class="col col-50 bet ok" data-id="1501021"><span class="bet-content">19</span> <span class="bet-item">42.3</span></div>
	</div>
</ion-content>