<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">點數</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155804"><span class="bet-content">4點</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1155805"><span class="bet-content">5點</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155806"><span class="bet-content">6點</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1155807"><span class="bet-content">7點</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155808"><span class="bet-content">8點</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1155809"><span class="bet-content">9點</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155810"><span class="bet-content">10點</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1155811"><span class="bet-content">11點</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155812"><span class="bet-content">12點</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1155813"><span class="bet-content">13點</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155814"><span class="bet-content">14點</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1155815"><span class="bet-content">15點</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1155816"><span class="bet-content">16點</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1155817"><span class="bet-content">17點</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>