
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">百家樂</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="103962"><span class="bet-content">莊贏</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="103963"><span class="bet-content">閒贏</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="103964"><span class="bet-content">和局</span> <span class="bet-item">1.982</span></div>
	</div>
	

	<div class="row text-center"><div class="col title">對子/質合</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="103965"><span class="bet-content">莊對</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103966"><span class="bet-content">閒對</span> <span class="bet-item">1.982</span></div>
	</div>
		<div class="row">
		<div class="col col-50 bet ok" data-id="103971"><span class="bet-content">莊質</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103977"><span class="bet-content">閒質</span> <span class="bet-item">1.982</span></div>
	</div>
		<div class="row">
		<div class="col col-50 bet ok" data-id="103972"><span class="bet-content">莊合</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103978"><span class="bet-content">閒合</span> <span class="bet-item">1.982</span></div>
	</div>
	
		<div class="row text-center"><div class="col title-no">大小單雙</div></div>
	<div class="row">
		<div class="col col-55 bet ok" data-id="103967"><div class="bet-content">莊大</div><div class="bet-item">1.982</div></div>
		<div class="col col-55 bet ok" data-id="103973"><div class="bet-content">閒大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-55 bet ok" data-id="103968"><div class="bet-content">莊小</div><div class="bet-item">9.4</div></div>
		<div class="col col-55 bet ok" data-id="103974"><div class="bet-content">閒小</div><div class="bet-item">1.982</div></div>
		
	</div>
	
	<div class="row">
		<div class="col col-55 bet ok" data-id="103969"><div class="bet-content">莊單</div><div class="bet-item">1.982</div></div>
		<div class="col col-55 bet ok" data-id="103975"><div class="bet-content">閒單</div><div class="bet-item">1.982</div></div>
	</div>
	
		<div class="row">
		<div class="col col-55 bet ok" data-id="103970"><div class="bet-content">莊雙</div><div class="bet-item">1.982</div></div>
		<div class="col col-55 bet ok" data-id="103976"><div class="bet-content">閒雙</div><div class="bet-item">1.982</div></div>
	</div>
</ion-content>