
<html><head>
    <meta charset="utf-8">
    <title>帮助中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="static/css/mui.min.css">

    <script src="static/js/mui.min.js"></script>
</head>

<body class="mui-ios mui-ios-13 mui-ios-13-2 mui-ios-13-2-3">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<!-- <a class="mui-icon mui-icon-chatbubble mui-pull-right" href="chatlink.html"></a> -->
		<h1 class="mui-title">帮助中心</h1>
	</header>

	<div class="mui-content">
		<div class="mui-card">
			<ul class="mui-table-view"> 

				<li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#"># 遇到登陆不成功怎么办?</a>
		            <div class="mui-collapse-content">
		                <p>检查用户名和密碼是否正确, 注意区别大小写; 检查用户名是否有空格, 如果有, 請删除空格</p>
		            </div>
		        </li>

		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#"># 登錄成功跳转首頁显示没登陆?</a>
		            <div class="mui-collapse-content">
		                <p>检查浏览器是否开启了"无痕浏览器模式", 如果是, 請关闭; 检查浏览器是否"阻止所有Cookie", 如果是, 請取消; 如果还是无法登陆, 請更换其他浏览器试试</p>
		            </div>
		        </li>

		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#"># 安卓手机推荐什么浏览器?</a>
		            <div class="mui-collapse-content">
						<p>X浏览器: 不足1M, 极速轻便 <a href="javascript:;">前往下载</a></p>
						<p>X浏览器-X5内核版: 不足1M <a href="javascript:;">前往下载</a></p>
						<p>Edge: 微软新版浏览器, 强大 <a href="javascript:;">前往下载</a></p>
		            </div>
		        </li>

		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#"># 苹果手机推荐什么浏览器?</a>
		            <div class="mui-collapse-content">
						<p>Safari浏览器: 自带的浏览器 <a href="javascript:;">前往官网</a></p>
						<p>Edge: 微软新版浏览器, 强大 <a href="javascript:;">前往下载</a></p>
		            </div>
		        </li>

		        		    </ul>
		</div>
	</div>


</body></html>