
<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);"> 
   <div class="typo"> 
				<ul>
					<li>具體遊戲規則如下:</li>
				</ul>
				<ul>
					<li><p class="title">骰寶</p>
						<p  class="label">一、博彩者可於下列各瓣下注：</p>
						<p  class="stress">1.<span class="label">小：</span>三粒骰子之點數總和由4點至10點；</p>
						<p class="stress">2.<span class="label">大：</span>三粒骰子之點數總和由11點至17點；註：若三粒骰子平面點數相同，通吃「大」、「小」各注。</p>
						<p class="stress">3.<span class="label">三軍/魚蝦蟹：</span>任何一粒骰子出現選定之平面點數；</p>
						<p class="stress">4.<span class="label">圍骰：</span>三粒骰子平面與選定點數相同；</p>
						<p class="stress">5.<span class="label">全骰：</span>在一點至六點內，三顆骰子平面點數相同；</p>
						<p class="stress">6.<span class="label">點數：</span>由4點至17點，三粒骰子平面點數之總和；</p>
						<p class="stress">7.<span class="label">長牌：</span>任兩顆骰子之平面點數；</p>
						<p class="stress">8.<span class="label">短牌：</span>選定兩顆骰子之平面點數；</p></li>
				</ul>
	   		</div>
	   		<div id="GAME_61_PAGE" class="hide">
	   			<h2>重慶幸運農場規則說明</h2>
				<ul>
					<li>每期重慶幸運農場開獎球數共八粒。每個球除了總和玩法，其它都有單獨的投注頁面。重慶幸運農場每天開97期，每期間隔10分鐘。投注時間為8分鐘，等待開獎時間為2分鐘，北京時間（GMT+8）每天白天從上午10：00開到隔天凌晨02：00。</li>
				</ul>
				<ul>
					<li><span class="label">1.兩面：</span>指單、雙；大、小、尾大、尾小。</li>
					<li class="stress">單、雙：號碼為雙數叫雙，如8、16；號碼為單數叫單，如19、5。</li>
					<li class="stress">大、小：开出之号码大于或等于11为大，小于或等于10为小。</li>
					<li class="stress">尾大、尾小：開出之尾數大於或等於5為尾大，小於或等於4為尾小。</li>
					<li class="stress">每一個號碼為一投注組合，假如投注號碼為開獎號碼並在所投的球位置，視為中獎，其餘情形視為不中獎。</li>
				</ul>
				<ul>
					<li><span class="label">2.中發白</span></li>
					<li class="stress">中：開出之號碼為01、02、03、04、05、06、07</li>
					<li class="stress">發：開出之號碼為08、09、10、11、12、13、14</li>
					<li class="stress">白：開出之號碼為15、16、17、18、19、20</li>
				</ul>
				<ul>
					<li><span class="label">3.方位</span></li>
					<li class="stress">東：開出之號碼為01、05、09、13、17</li>
					<li class="stress">南：開出之號碼為02、06、10、14、18</li>
					<li class="stress">西：開出之號碼為03、07、11、15、19</li>
					<li class="stress">北：開出之號碼為04、08、12、16、20</li>
				</ul>
				<ul>
					<li><span class="label">13.龍虎</span>以第一球的中獎號碼和第八球的中獎號碼做為對獎號碼。</li>
					<li class="stress">龍：開出之號碼第一球的中獎號碼大於第八球的中獎號碼。如 第一球開出14 第八球開出09；第一球開出17 第八球開出08；第一球開出05 第八球開出01...中獎為龍。</li>
					<li class="stress">虎：開出之號碼第一球的中獎號碼小於第八球的中獎號碼。如 第一球開出14 第八球開出16；第一球開出13 第八球開出18；第一球開出05 第八球開出08...中獎為虎。</li>
				</ul>
				<ul>
					<li><span class="label">14.正碼</span></li>
					<li class="stress">從01至20中任意選擇1個號碼進行投注， 投注號碼與開獎號碼中任意1個位置的號碼相符，即中獎。</li>
				</ul>
				<ul>
					<li><span class="label">4.總和單雙：</span>所有8個開獎號碼的數字總和值是單數為總和單，如數字總和值是31、51；所有8個開獎號碼的數字總和值是雙數為總和雙，如數字總和是42、80；假如投注組合符合中獎結果，視為中獎，其餘情形視為不中獎。</li>
					<li><span class="label">5.總和大小：</span>所有8個開獎號碼的數字總和值85到132為總大；所有8個開獎號碼的數字總和值36到83為總分小；所有8個開獎號碼的數字總和值為84打和；如開獎號碼為01、20、02、08、17、09、11，數字總和是68，則總分小。假如投注組合符合中獎結果，視為中獎，其餘情形視為不中獎，打和不計算結果。</li>
					<li><span class="label">6.總尾大小：</span>所有8個開獎號碼的數字總和數值的個位數大於或等於5為總尾大，小於或等於4為總尾小；假如投注組合符合中獎結果，視為中獎，其餘情形視為不中獎。</li>
					<li><span class="label">7.選二任選：</span>指01至20中任意選擇2個號碼對開獎號碼中任2個位置的投注。 投注號碼與開獎號碼中任2個位置的號碼相符，即中獎。</li>
					<li><span class="label">8.選二連組：</span>指01至20中任意選擇2個號碼對開獎號碼中依開獎順序出現的2個連續位置的投注。 投注號碼與開獎號碼中以開獎順序出現的2個連續位置的號碼相符（順序不限），即中獎。</li>
					<li><span class="label">9.選三任選：</span>指01至20中任意選擇3個號碼對開獎號碼中任3個位置的投注。 投注號碼與開獎號碼中任3個位置的號碼相符，即中獎。</li>
					<li><span class="label">10.選三前組：</span>指01至20中任意選擇3個號碼對開獎號碼中依開獎順序出現的前3個連續位置的投注。 投注號碼與開獎號碼中以開獎順序出現的前3個位置的號碼相符（順序不限），即中獎。</li>
					<li><span class="label">11.選四選：</span>指從01至20中任意選擇4個號碼，對開獎號碼中任4個位置的投注。 投注號碼與開獎號碼中任4個位置的號碼相符，即中獎。</li>
					<li><span class="label">12.選五任選：</span>指從01至20中任意選擇5個號碼，對開獎號碼中任5個位置的投注。 投注號碼與開獎號碼中任5個位置的號碼相符，即中獎。</li>
				</ul>
	   		</div></div>