
<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);"> 
   <div class="typo"> 
				<ul>
					<li><span class="title">具體遊戲規則如下：</span></li>
<li><span class="label">大：三個位置的數值​​相加和大於等於14,15,16,17,18,19,20,21,22,23,24,25,26,27為大。 </span></li>
<li><span class="label">小：三個位置的數值​​相加和小於等於00,01,02,03,04,05,06,07,08,09,10,11,12,13為小。 </span></li>
<li><span class="label">單：三個位置的數值​​相加和為單就為單。 </span></li>
<li><span class="label">雙：三個位置的數值​​相加和為雙就為雙。 </span></li>
<li><span class="label">大單（三個數值和）：15,17,19,21,23,25,27為大單。 </span></li>
<li><span class="label">小單（三個數值和）：01,03,05,07,09,11,13為小單。 </span></li>
<li><span class="label">大雙（三個數值和）：14,16,18,20,22,24,26為大雙。 </span></li>
<li><span class="label">小雙（三個數值和）：00,02,04,06,08,10,12為小雙。 </span></li>
<li><span class="label">極大（三個數值和）：23,24,25,26,27為極大。 </span></li>
<li><span class="label">極小（三個數值和）：00,01,02,03,04為極小。 </span></li>
<li><span class="label">紅波（三個數值和）：03,06,09,12,15,18,21,24為紅波。 </span></li>
<li><span class="label">綠波（三個數值和）：01,04,07,10,16,19,22,25為綠波。 </span></li>
<li><span class="label">藍波（三個數值和）：02,05,08,11,17,20,23,26為藍波。 </span></li>
<li><span class="label">註:當開獎結果為：0,13,14,27(所有買的波色皆輸)視為全部不中獎！ </span></li>
<li><span class="label">豹子：當期開出三個數字相同即為豹子</span></li>
<li><span class="label">特碼（三個數值和）：單選一個數字投注。 </span></li>
				</ul>
	   		</div></div>