
<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);"> 
   <div class="typo"> 

				<ul>
					<li>具體遊戲規則如下:</li>
</ul>
<ul>
<li><span class="label">1～10 兩面：</span>指 單、雙；大、小。 </li>
<li class="stress"><span class="label">單、雙：</span>號碼為雙數叫雙，如4、8；號碼為單數叫單，如5、9。 </li>
<li class="stress"><span class="label">大、小：</span>開出之號碼大於或等於6為大，小於或等於5為小。 </li>
<li class="stress"><span class="label">第一名～第十名車號指定：</span>每一個車號為一投注組合，開獎結果「投注車號」對應所投名次視為中獎，其餘情形視為不中獎。 </li>
</ul>
<ul>
<li><span class="label">1～5龍虎 </span></li>
<li class="stress"><span class="label">冠&nbsp;&nbsp;軍龍/虎：</span>「第一名」車號大於「第十名」車號視為【龍】中獎、反之小於視為【虎】中獎，其餘情形視為不中獎。 </li>
<li class="stress"><span class="label">亞&nbsp;&nbsp;軍龍/虎：</span>「第二名」車號大於「第九名」車號視為【龍】中獎、反之小於視為【虎】中獎，其餘情形視為不中獎。 </li>
<li class="stress"><span class="label">第三名龍/虎：</span>「第三名」車號大於「第八名」車號視為【龍】中獎、反之小於視為【虎】中獎，其餘情形視為不中獎。 </li>
<li class="stress"><span class="label">第四名龍/虎：</span>「第四名」車號大於「第七名」車號視為【龍】中獎、反之小於視為【虎】中獎，其餘情形視為不中獎。 </li>
<li class="stress"><span class="label">第五名龍/虎：</span>「第五名」車號大於「第六名」車號視為【龍】中獎、反之小於視為【虎】中獎，其餘情形視為不中獎。 </li>
</ul>
<ul>
<li><span class="label">冠軍車號＋亞軍車號＝冠亞和值（為3~19)</span></li>
<li class="stress"><span class="label">冠亞和單雙：「冠亞和值」</span>為單視為投注「單」的注單視為中獎，為雙視為投注「雙」的注單視為中獎，其餘視為不中獎。 </li>
<li class="stress"><span class="label">冠亞和大小：「冠亞和值」</span>大於11時投注「大」的注單視為中獎，小於或等於11時投注「小」的注單視為中獎，其餘視為不中獎。 </li>
<li class="stress"><span class="label">冠亞和指定：「冠亞和值」</span>可能出現的結果為3～19， 投中對應<span class="label" >「冠亞和值」</span>數字的視為中獎，其餘視為不中獎。 </li>
				</ul>
   </div> 
  </div>