
<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);"> 
   <div class="typo"> 
	   			<h2>廣東11選5法則說明</h2>
<ul>
<li><span class="label">以下所有投注含本金。 </span></li>
<li>「廣東11選5」是由國家體育總局發行，體育彩券管理中心承銷；每日共開獎 42期、每 20 分鐘開獎 1 次。 </li>
</ul>
<ul>
<li><span class="title">具體遊戲規則如下：</span></li>
<li><span class="label">1.【單碼】- 指第一球、第二球、第三球、第四球、第五球出現的順序與號碼為派彩依據。 </span></li>
<li class="stress">單號：如現場滾球第一個開獎號碼為10號，投注第一球為10號則視為中獎，其它號碼視為不中獎大小：開出的號碼大於或等於6為大，小於或等於5為小，開出11為和(不計算輸贏)</li>
<li class="stress">單雙：號碼為雙數叫雙，如2、8；號碼為單數叫單，如5、9；開出11為和 (不計算輸贏)。 </li>
<li><span class="label">2.【總和】-以全部開出的5個號碼，加起來的總和來判定。 </span></li>
<li class="stress">總和大小: 所有開獎號碼數字加總值大於30為和大；總和值小於30為和小；若總和值等於30為和 (不計算輸贏)。 </li>
<li class="stress">總和單雙: 所有開獎號碼數字加總值為單數叫和單，如11、31；加總值為雙數叫和雙，如42、30。 </li>
<li class="stress">總和尾數大小: 所有開獎號碼數字加總值的尾數，大於或等於5為尾大，小於或等於4為尾小。 </li>
</ul>
<ul>
<li><span class="label">3.【龍虎】</span></li>
<li class="stress">龍：第一球開獎號碼大於第五球開獎號碼，如第一球開出10，第五球開出7。 </li>
<li class="stress">虎：第一球開獎號碼小於第五球開獎號碼，如第一球開出3，第五球開出7。 </li>
</ul>
<ul>
<li><span class="label">4.選號- 選號玩法是由1~11號中，選出1~5個號碼為一投注組合來投注。 </span></li>
<li class="stress">一中一: 投注1個號碼與當期開獎的5個號碼中任1個號碼相同，視為中獎。 </li>
<li class="stress">任選二: 投注2個號碼與當期開獎的5個號碼中任2個號碼相同(順序不限)，視為中獎。 </li>
<li class="stress">任選三: 投注3個號碼與當期開獎的5個號碼中任3個號碼相同(順序不限)，視為中獎。 </li>
<li class="stress">任選四: 投注4個號碼與當期開獎的5個號碼中任4個號碼相同(順序不限)，視為中獎。 </li>
<li class="stress">任選五: 投注5個號碼與當期開獎的5個號碼中5個號碼相同(順序不限)，視為中獎。 </li>
<li class="stress">任選六: 投注6個號碼中任5個號碼與當期開獎的5個號碼相同(順序不限)，視為中獎。 </li>
<li class="stress">任選七: 投注7個號碼中任5個號碼與當期開獎的5個號碼相同(順序不限)，視為中獎。 </li>
<li class="stress">任選八: 投注8個號碼中任5個號碼與當期開獎的5個號碼相同(順序不限)，視為中獎。 </li>
<li class="stress">組選前二: 投注的2個號碼與當期順序開出的5個號碼中的前2個號碼相同，視為中獎。 </li>
<li class="stress">組選前三: 投注的3個號碼與當期順序開出的5個號碼中的前3個號碼相同，視為中獎。 </li>
<li class="stress">直選前二: 投注的2個號碼與當期順序開出的5個號碼中的前2個號碼相同且順序一致，視為中獎。 </li>
<li class="stress">直選前三: 投注的3個號碼與當期順序開出的5個號碼中的前3個號碼相同且順序一致，視為中獎。 </li>
				</ul>
	   		</div></div>