
<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);"> 
   <div class="typo"> 
	   			<h2>六合彩法則說明</h2>
<ul>
<li>以下所有投注含本金。 </li>
</ul>
<ul>
<li><span class="label">1.特碼</span></li>
<li class="stress">香港六合彩公司當期開出的最後一碼為特碼。 </li>
</ul>
<ul>
<li><span class="label">2.特碼大小</span></li>
<li class="stress">特小：開出的特碼，(01~24)小於或等於24。 </li>
<li class="stress">特大：開出的特碼，(25~48)小於或等於48。 </li>
<li class="stress">和局：特碼為49時。 </li>
</ul>
<ul>
<li><span class="label">3.特碼單雙</span></li>
<li class="stress">特雙：特碼為雙數，如18、20、34、42。 </li>
<li class="stress">特單：特碼為單數，如01，11，35，47。 </li>
<li class="stress">和局：特碼為49時。 </li>
</ul>
<ul>
<li><span class="label">4.特碼合數單雙</span></li>
<li class="stress">特雙：指開出特碼的個位加上十位之和為‘雙數’，如02，11，33，44。 </li>
<li class="stress">特單：指開出特碼的個位加上十位之和為‘單數’，如01，14，36，47。 </li>
<li class="stress">和局：特碼為49時。 </li>
</ul>
<ul>
<li><span class="label">5.特碼尾數大小</span></li>
<li class="stress">特尾大：5尾~9尾為大，如05、18、19。 </li>
<li class="stress">特尾小：0尾~4尾為小，如01，32，44。 </li>
<li class="stress">和局：特碼為49時。 </li>
</ul>
<ul>
<li><span class="label">6.特碼半特</span></li>
<li class="stress">以特碼大小與特碼單雙遊戲為一個投注組合；當期特碼開出符合投注組合，即視為中獎；若當期特碼開出49號，其餘情形視為不中獎。 </li>
<li class="stress">大單：25、27、29、31、33、35、37、39，41、43、45、47</li>
<li class="stress">大雙：26、28、30、32、34、36、38、40，42、44、46、48</li>
<li class="stress">小單：01、03、05、07、09、11、13、15，17、19、21、23</li>
<li class="stress">小雙：02、04、06、08、10、12、14、16，18、20、22、24</li>
<li class="stress">和局：特碼為49時。 </li>
</ul>
<ul>
<li><span class="label">7.特碼合數大小</span></li>
<li class="stress">合數大：特碼的個位加上十位總和來決定大小，和數大於或等於7為大。 </li>
<li class="stress">合數小：特碼的個位加上十位總和來決定大小，和數小於或等於6為小。 </li>
<li class="stress">和局：特碼為49時。 </li>
</ul>
<ul>
<li><span class="label">8.正碼</span></li>
<li class="stress">香港六合彩公司每期開出的前面六個號碼為正碼，下注號碼如在六個正碼號碼裡中獎。 </li>
</ul>
<ul>
<li><span class="label">9.總和大小</span></li>
<li class="stress">總和大：所以七個開獎號碼的分數總和大於或等於175。 </li>
<li class="stress">總和小：所以七個開獎號碼的分數總和小於或等於174。 </li>
</ul>
<ul>
<li><span class="label">10.總和單雙</span></li>
<li class="stress">總和單：所以七個開獎號碼的分數總和是‘單數’，如分數總和是133、197。 </li>
<li class="stress">總和雙：所以七個開獎號碼的分數總和是‘雙數’，如分數總和是120、188。 </li>
</ul>
<ul>
<li><span class="label">11.正蕭</span></li>
<li class="stress">以開出的6個正碼做遊戲，只要有1個落在下註生肖範圍內，視為中獎。如超過1個正碼落在下註生肖範圍內 ，派彩將倍增！如：下注＄100.-正肖龍倍率1.8。 </li>
<li class="stress">6個正碼開出01，派彩為＄80</li>
<li class="stress">6個正碼開出01，13，派彩為＄160</li>
<li class="stress">6個正碼開出01，13，25，派彩為＄240</li>
<li class="stress">6個正碼開出01，13，25，37，派彩為＄320</li>
<li class="stress">6個正碼開出01，13，25，37，49，派彩為＄320</li>
</ul>
<ul>
<li><span class="label">12.正碼特</span></li>
<li class="stress">正碼特指 正1特、正2特、正3特、正4特、正5特、正6特。 </li>
<li class="stress">其下注的正碼特號與現場搖珠開出之正碼其開獎順序及開獎號碼相同，視為中獎。 </li>
<li class="stress">如現場搖珠第一個正碼開獎為49號，下注第一個正碼特為49則視為中獎，其它號碼視為不中獎。 </li>
</ul>
<ul>
<li><span class="label">13.正碼過關</span></li>
<li class="stress">可同時挑選多項賽事，串聯成投注組合，其賠率為所選串當時賠率的總乘積。 </li>
<li class="stress">只要當期所開出之中獎結果符合您所選定之串聯賽事，即視為中獎。 </li>
<li class="stress">如投注組合中某一個號碼為49號和時，該組合將該串賠率以1為計算。 </li>
</ul>
<ul>
<li><span class="label">14.正碼1-6</span></li>
<li class="stress">香港六合彩公司當期開出之前6個號碼叫正碼。第一時間出來的叫正碼1，依序為正碼2、正碼3┅┅ 正碼6(不以號碼大小排序)。正碼1、正碼2、正碼3、正碼4、正碼5、正碼6的大小單雙合單雙和特別號碼的大小單雙規則相同，如正碼1為31，則正碼1為大，為單，為合雙，為合小；正碼2為08，則正碼2為小，為雙，為合雙，為合大；號碼為和。假如投注組合符合中獎結果，視為中獎。 正碼1-6色波下注開獎之球色與下注之顏色相同時，視為中獎。其餘情形視為不中獎。 </li>
					</ul>
					<ul>
						<li><span class="label">15.半波</span></li>
<li class="stress">以特碼色波和特單，特雙，特大，特小為一個投注組合，當期特碼開出符合投注組合，即視為中獎； 若當期特碼開出49號，則視為和局；其餘情形視為不中獎。 </li>
</ul>
<ul>
<li><span class="label">16.半半波</span></li>
<li class="stress">以特碼色波及特單雙及特大小等遊戲為一個投注組合，當期特碼開出符合投注組合，即視為中獎； 若當期特碼開出49號，則視為和局；其餘情形視為不中獎。 </li>
</ul>
<ul>
<li><span class="label">17.特碼生肖</span></li>
<li class="stress">生肖順序為 鼠 >牛 >虎 >兔 >龍 >蛇 >馬 >羊 >猴 >雞 >狗 >豬 。 </li>
<li class="stress">如今年是羊年，就以羊為開始，依序將49個號碼分為12個生肖『如下』</li>
<li class="stress">羊：01、13、25、37、49</li>
<li class="stress">猴：12、24、36、48</li>
<li class="stress">雞：11、23、35、47</li>
<li class="stress">狗：10、22、34、46</li>
<li class="stress">豬：09、21、33、45</li>
<li class="stress">鼠：08、20、32、44</li>
<li class="stress">牛：07、19、31、43</li>
<li class="stress">虎：06、18、30、42</li>
<li class="stress">兔：05、17、29、41</li>
<li class="stress">龍：04、16、28、40</li>
<li class="stress">蛇：03、15、27、39</li>
<li class="stress">馬：02、14、26、38</li>
<li class="stress">若當期特別號，落在下註生肖範圍內，視為中獎 。 </li>
</ul>
<ul>
<li><span class="label">18.特碼色波</span></li>
<li class="stress">香港六合彩49個號碼球分別有紅、藍、綠三種顏色，以特碼開出的顏色和投注的顏色相同視為中獎，顏色代表如下:</li>
<li class="stress">紅波：01 ,02 ,07 ,08 ,12 ,13 ,18 ,19 ,23 ,24 ,29 ,30 ,34 ,35 ,40 ,45 ,46</li>
<li class="stress">藍波：03 ,04 ,09 ,10 ,14 ,15 ,20 ,25 ,26 ,31 ,36 ,37 ,41 ,42 ,47 ,48</li>
<li class="stress">綠波：05 ,06 ,11 ,16 ,17 ,21 ,22 ,27 ,28 ,32 ,33 ,38 ,39 ,43 ,44 ,49</li>
</ul>
<ul>
<li><span class="label">19.特碼頭數</span></li>
<li class="stress">特碼頭數：是指特碼屬頭數的號碼</li>
<li class="stress">"0"頭：01、02、03、04、05、06、07、08、09</li>
<li class="stress">"1"頭：10、11、12、13、14、15、16、17、18、19</li>
<li class="stress">"2"頭：20、21、22、23、24、25、26、27、28、29</li>
<li class="stress">"3"頭：30、31、32、33、34、35、36、37、38、39</li>
<li class="stress">"4"頭：40、41、42、43、44、45、46、47、48、49</li>
<li class="stress">例如：開獎結果特別號碼為21則2頭為中獎，其他頭數都不中獎。 </li>
</ul>
<ul>
<li><span class="label">20.特碼尾數</span></li>
<li class="stress">特碼尾數：是指特碼屬尾數的號碼。 </li>
<li class="stress">"0"尾：10、20、30、40</li>
<li class="stress">"1"尾：01、11、21、31、41</li>
<li class="stress">"2"尾：02、12、22、32、42</li>
<li class="stress">"3"尾：03、13、23、33、43</li>
<li class="stress">"4"尾：04、14、24、34、44</li>
<li class="stress">"5"尾：05、15、25、35、45</li>
<li class="stress">"6"尾：06、16、26、36、46</li>
<li class="stress">"7"尾：07、17、27、37、47</li>
<li class="stress">"8"尾：08、18、28、38、48</li>
<li class="stress">"9"尾：09、19、29、39、49</li>
<li class="stress">例如：開獎結果特別號碼為21則1尾數為中獎，其他尾數都不中獎。 </li>
					</ul>
					<ul>
						<li><span class="label">21.五行</span></li>
<li class="stress">挑選一個五行選項為一個組合，若開獎號碼的特碼在此組合內，即視為中獎；若開獎號碼的特碼亦不在此組合內，即視為不中獎； </li>
<li class="stress">金：01、02、15、16、23、24、31、32、45、46</li>
<li class="stress">木：05、06、13、14、27、28、35、36、43、44</li>
<li class="stress">水：03、04、11、12、19、20、33、34、41、42、49</li>
<li class="stress">火：07、08、21、22、29、30、37、38</li>
<li class="stress">土：09、10、17、18、25、26、39、40、47、48</li>
</ul>
<ul>
<li><span class="label">22.平特一肖</span></li>
<li class="stress">指開獎的7個號碼中含有所屬生肖的一個或多個號碼，但派彩指派一次，即不論同生肖號碼出現一個或多個號碼都指派一次。 </li>
<li class="stress">羊：01、13、25、37、49</li>
<li class="stress">猴：12、24、36、48</li>
<li class="stress">雞：11、23、35、47</li>
<li class="stress">狗：10、22、34、46</li>
<li class="stress">豬：09、21、33、45</li>
<li class="stress">鼠：08、20、32、44</li>
<li class="stress">牛：07、19、31、43</li>
<li class="stress">虎：06、18、30、42</li>
<li class="stress">兔：05、17、29、41</li>
<li class="stress">龍：04、16、28、40</li>
<li class="stress">蛇：03、15、27、39</li>
<li class="stress">馬：02、14、26、38</li>
</ul>
<ul>
<li><span class="label">23.平特尾數</span></li>
<li class="stress">指開獎的7個號碼中含有所屬生肖的一個或多個號碼，但派彩指派一次，即不論同生肖號碼出現一個或多個號碼都指派一次。 </li>
<li class="stress">"0"尾：10、20、30、40</li>
<li class="stress">"1"尾：01、11、21、31、41</li>
<li class="stress">"2"尾：02、12、22、32、42</li>
<li class="stress">"3"尾：03、13、23、33、43</li>
<li class="stress">"4"尾：04、14、24、34、44</li>
<li class="stress">"5"尾：05、15、25、35、45</li>
<li class="stress">"6"尾：06、16、26、36、46</li>
<li class="stress">"7"尾：07、17、27、37、47</li>
<li class="stress">"8"尾：08、18、28、38、48</li>
<li class="stress">"9"尾：09、19、29、39、49</li>
<li class="stress">例如：開獎結果正碼號碼為11、31、42、44、35、32特別號碼為21則1尾2尾4尾5尾都為中獎，其他尾數都不中獎。 </li>
</ul>
<ul>
<li><span class="label">24.連碼</span></li>
<li class="stress">三中二：所投注的每三個號碼為一組合，若其中2個是開獎號碼中的正碼，即為三中二，視為中獎；若3個都是開獎號碼中的正碼，即為三中二之中三，其餘情形視為不中獎，如06、07、08 為一組合，開獎號碼中有06、07兩個正碼，沒有08，即為三中二，以三中二賠付；如開獎號碼中有06、07、08三個正碼，即為三中二之中三，按中三賠付；如出現1個或沒有，視為不中獎。 </li>
<li class="stress">四全中：選擇投注號碼每四個為一組（四個或四個以上），兌獎號為正碼，如四個號碼都在開獎號碼的正碼裡面，視為中獎，其他情形都視為不中獎。 </li>
<li class="stress">三全中：所投注的每三個號碼為一組合，若三個號碼都是開獎號碼之正碼，視為中獎，其餘情形視為 不中獎。如06、07、08三個都是開獎號碼之正碼，視為中獎，如兩個正碼加上一個特別號 碼視為不中獎 。 </li>
<li class="stress">二全中：所投注的每二個號碼為一組合，二個號碼都是開獎號碼之正碼，視為中獎，其餘情形視為不中獎（含一個正碼加一個特別號碼之情形）。 </li>
<li class="stress">二中特：所投注的每二個號碼為一組合，二個號碼都是開獎號碼之正碼，叫二中特之中二；若其中一個是正碼，一個是特別號碼，叫二中特之中特；其餘情形視為不中獎。 </li>
						<li class="stress">特串：所投注的每二個號碼為一組合，其中一個是正碼，一個是特別號碼，視為中獎，其餘情形視為不中獎（含二個號碼都是正碼之情形） 。 </li>
</ul>
<ul>
<li><span class="label">25.連蕭連尾</span></li>
<li class="stress">生肖（尾數）所對應的號碼和特碼生肖（尾數）項目的一樣；一個生肖（尾數）對應多個號碼，不論同生肖（尾數）的號碼出現一個或多個，派彩只派一次。每個生肖（尾數）都有自己的賠率，下注組合的總賠率，取該組合生肖（尾數）的最低賠率為總賠率。 </li>
<li class="stress">二連尾:選擇二個尾數為一投注組合進行下注。此註的二個尾數必須在當期開出的7個開獎號碼相對應的尾數中，視為中獎。 </li>
<li class="stress">三連尾:選三個尾數為一投注組合進行下注。此註的三個尾數必須在當期開出的7個開獎號碼相對應的尾數中，視為中獎。 </li>
<li class="stress">四連尾:選出四個尾數為一投注組合進行下注。此註的四個尾數必須在當期開出的7個開獎號碼相對應的尾數中，視為中獎。 </li>
<li class="stress">五連尾:選五個尾數為一投注組合進行下注。此註的五個尾數必須在當期開出的7個開獎號碼相對應的尾數中，視為中獎。 </li>
<li class="stress">二連肖:選擇二個生肖為一投注組合進行下注。該注的二個生肖必須在當期開出的7個開獎號碼相對應的生肖中，視為中獎。 </li>
<li class="stress">三連肖:選擇三個生肖為一投注組合進行下注。該注的三個生肖必須在當期開出的7個開獎號碼相對應的生肖中，視為中獎。 </li>
<li class="stress">四連肖:選擇四個生肖為一投注組合進行下注。該注的四個生肖必須在當期開出的7個開獎號碼相對應的生肖中，視為中獎。 </li>
<li class="stress">五連肖:選擇五個生肖為一投注組合進行下注。此註的五個生肖必須在當期開出的7個開獎號碼相對應的生肖中，視為中獎。 </li>
</ul>
<ul>
<li><span class="label">26.合肖</span></li>
<li class="stress">挑選2-11個生肖『排列如生肖』為一個組合，並選擇開獎號碼的特碼是否在此組合內『49號除外』，即視為中獎；若當期特碼開出49號，則所有組合皆視為和局。 </li>
</ul>
<ul>
<li><span class="label">27.自選不中</span></li>
<li class="stress">挑選最少5個號碼為一投注組合進行下注。當期開出的7個開獎號碼都沒有在該下注組合中，即視為中獎。每個號碼都有自己的賠率，下注組合的總賠率，取該組合號碼的最低賠率為總賠率。如下注組合為1-2-3-4-5，開獎號碼為6，7，8，9，10，11，12，即為中獎，如果開獎號碼為5，6，7，8，9，10 ，11，那麽為不中獎。 </li>
</ul>
<ul>
<li><span class="label">28.總肖</span></li>
<li class="stress">當期號碼(所有正碼與最後開出的特碼)開出的不同生肖總數，與所投注之預計開出之生肖總數合(不用指定特定生肖)，則視為中獎，其餘情形視為不中獎。例如：如果當期號碼為19、24、12、34、40、39 特別號：49，總計六個生肖，若選總肖【6】則為中獎(請注意：49號亦算輸贏，不為和）。 </li>
</ul>
<ul>
<li><span class="label">29.總肖單雙</span></li>
<li class="stress">當期號碼（正碼和特碼）開出的不同生肖總數若為單數則為單，若為雙數則為雙。 </li>
</ul>
<ul>
<li><span class="label">30.七色波</span></li>
<li class="stress">以開出的7個色波，那種顏色最多為中獎。 開出的6個正碼各以1個色波計，特別號以1.5個色波計。而以下3種結果視為和局。 </li>
<li class="stress">1： 6個正碼開出3藍3綠，而特別碼是1.5紅 </li>
<li class="stress">2：6個正碼開出3藍3紅，而特別碼是1.5綠 </li>
<li class="stress">3：6個正碼開出3綠3紅，而特別碼是1.5藍</li>
<li class="stress">如果出現和局，所有投注紅，綠，藍七色波的金額將全數退回，會員也可投注和局</li>
					</ul>
	   		</div></div>