<ion-content class="bet-view">
	
	<div class="row text-center"><div class="col title-no">平倍</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501107">閒一<span class="bet-item"></span></div>
		<div class="col col-50 bet ok" data-id="501108">閒二 <span class="bet-item"></span></div>
		<div class="col col-50 bet ok" data-id="501109">閒三<span class="bet-item"></span></div>
	</div>
	
	<div class="row">
	<div class="col col-50 bet ok" data-id="501109">閒四<span class="bet-item"></span></div>
		<div class="col col-50 bet ok" data-id="501111">閒五<span class="bet-item"></span></div>
	</div>
	

	
	
	
	
</ion-content>
	
	
</ion-content>